﻿@model WebApplication1.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    身高 @Html.TextBoxFor(f => f.Height) 公分<br />
    體重 @Html.TextBoxFor(f => f.Weight)公斤<br />
    <input type="submit" name="name" value="send" />
</form>

計算結果： @Model.BMI <br />
等級： @Model.Level
